*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
gpr.usr=rahimi.morteza53266@gmail.com and gpr.key=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
